@font-face {
  font-family: 'Calibri Light';
  font-style: normal;
  font-weight: 300;
  src: local('Calibri Light'), url('./fonts/calibril-subset.woff2') format('woff');
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local('Georgia'), url('./fonts/Georgia-PersonalUse.woff') format('woff');
}

body {
  font-family: "Calibri Light", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.paper {
  background: white;
  width: 21cm;
  min-height: 29.7cm;
  margin: 0 auto;
  padding: 1cm;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.name {
  font-size: 2em;
  font-weight: bold;
  font-family: "Georgia", sans-serif;
}

.contact {
  margin-top: 0.5em;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.contact-inner {
  display: inline-flex;
  gap: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid #555;
}

.title {
  font-size: 1.13rem;
  margin: 6px auto;
  text-align: center;
  font-weight: 900;
}

.section {
  line-height: 1.4;
}

.section h2 {
  font-size: 1.2em;
  display: inline-block;
  font-family: "Georgia", sans-serif;
  font-weight: normal;
  border-bottom: 2px solid black;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.section p {
  margin: 0;
  text-align: justify;
}

table.skills-table {
  width: 100%;
  border-collapse: collapse;
}

.skills-table td {
  vertical-align: top;
}

.skills-table tr:nth-child(1) {
  padding-bottom: 10px;
}

.skills-table td:nth-child(1) {
  padding-right: 15px;
}

.company-block {
  margin-bottom: 20px;
}

.experience {
  display: flex;
}

.job-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.job-company {
  font-weight: bold;
}

.job-title {
  font-weight: bold;
}

.job-dates {
  font-style: italic;
  color: #555;
}

.project-headline {
  font-weight: bold;
}

.projects {
  margin-bottom: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

ul.projects {
  padding-left: 1em;
  margin-top: 0px;
  list-style: none;
}

.projects > li {
  position: relative;
}

.projects > li::before {
  content: "";
  position: absolute;
  left: -1em;
  top: 0.6em;
  width: 0.75em;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);  
}

.projects > li > ul {
  padding-inline-start: 14px;
}

.technologies {
  font-style: italic;
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    zoom: 1 !important;
    background: white;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  * {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4;
    margin: 1cm;
  }

  header, footer {
    display: none !important;
  }

  .paper {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: unset;
  }
}

* {
  /* outline: 1px solid rgba(0, 0, 255, 0.3) !important; */
}
