body {
  font-family: "Calibri Light", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.paper {
  background: white;
  width: 21cm;
  min-height: 29.7cm;
  margin: 0 auto;
  padding: 1cm;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.header {
  text-align: center;
}
.name {
  font-size: 2em;
  font-weight: bold;
  font-family: "Georgia", sans-serif;
}
.title {
  font-size: 1.4em;
  font-family: "Optima", sans-serif;
}
.contact {
  margin-top: 0.5em;
  font-size: 1em;
}
.objective {
  font-size: 0.9rem;
  margin: 10px auto;
  text-align: center;
  font-style: italic;
  padding: 10px 0.5cm;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}
.section {
  line-height: 1.4;
}
.section h2 {
  font-size: 1.2em;
  display: inline-block;
  font-family: "Georgia", sans-serif;
  font-weight: normal;
  border-bottom: 2px solid black;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section p {
  margin: 0;
  text-align: justify;
}

table.skills-table {
  width: 100%;
  border-collapse: collapse;
}

.skills-table td {
  vertical-align: top;
}

.skills-table tr:nth-child(1) {
  padding-bottom: 10px;
}

.skills-table td:nth-child(1) {
  padding-right: 15px;
}

.company-block {
  margin-bottom: 20px;
}

.experience {
  display: flex;
}

.job-container {
  width: 100%;
}

.job-title {
  font-weight: bold;
}

.job-company {
  font-style: italic;
}

.job-dates {
  color: #555;
  margin-bottom: 8px;
}

ul {
  padding-left: 20px;
  margin-top: 0px;
}

.project-headline {
  font-weight: bold;
}

.projects {
  margin-bottom: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.technologies {
  font-style: italic;
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    zoom: 1 !important;
    background: white;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  * {
    box-sizing: border-box;
  }

  @page {
    size: A4;
    margin: 1cm;
  }

  header, footer {
    display: none !important;
  }

  .paper {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: unset;
  }
}
