@font-face {
  font-family: 'Calibri Light';
  font-style: normal;
  font-weight: 300;
  src: local('Calibri Light'),
       url('./fonts/calibril-subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local('Georgia'),
       url('./fonts/Georgia-PersonalUse.woff') format('woff');
}

body {
  font-family: "Calibri Light", sans-serif;
  font-size: 1rem;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.paper {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm;
  margin: 0 auto;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
}

.name {
  font-family: "Georgia", serif;
  font-size: 2rem;
  font-weight: bold;
}

.contact {
  margin-top: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.contact-inner {
  display: inline-flex;
  gap: 1.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #555;
}

.title {
  font-size: 1.125rem;
  margin: 0.375rem auto;
  text-align: center;
}

.section {
  line-height: 1.4;
}

.section h2 {
  font-family: "Georgia", serif;
  font-size: 1.2rem;
  font-weight: normal;
  display: inline-block;
  width: 12.5rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  border-bottom: 2px solid #000;
}

.section p {
  margin: 0;
  text-align: justify;
}

table.skills-table {
  width: 100%;
  border-collapse: collapse;
}

.skills-table td {
  vertical-align: top;
}

.skills-table tr:first-child {
  padding-bottom: 0.625rem;
}

.skills-table td:first-child {
  padding-right: 0.9375rem;
}

.company-block {
  margin-bottom: 1.25rem;
}

.experience {
  display: flex;
}

.job-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-company {
  font-weight: bold;
}

.job-company a {
  font-size: 1.15rem;
}

.job-title {
  font-weight: bold;
}

.job-dates {
  font-style: italic;
  color: #555;
}

.project-headline {
  font-weight: bold;
}

.projects {
  margin-bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

ul.projects {
  margin-top: 0;
  padding-left: 1rem;
  list-style: none;
}

.projects > li {
  position: relative;
}

.projects > li::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.6rem;
  width: 0.75rem;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.projects > li > ul {
  padding-inline-start: 0.875rem;
}

.technologies {
  font-style: italic;
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    zoom: 1 !important;
    background: white;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  * {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4;
    margin: 1cm;
  }

  header, footer {
    display: none !important;
  }

  .paper {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: unset;
  }
}

* {
  /* outline: 1px solid rgba(0, 0, 255, 0.3) !important; */
}
